<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li id="users"><a href="/users">Users</a></li>
   <!-- <li id="beehives"> <a href="/beehives">Beehives</a></li>
    <li id="sensors"><a href="/sensors">Sensors</a></li>
    <li id="measurements"><a href="/measurements">Measurements</a></li>
    
  </ul>
  <ul class="nav nav-sidebar">
    <li id="alerts"><a href="/alerts">Alerts</a></li>
    <li id="alertlogs"><a href="/alert_logs">Alert Logs</a></li>-->
  </ul>
</div>