@import "bootstrap-sprockets";
@import "bootstrap";

.bmons-box{
    width: 400px;
    display: block;
    margin: 0 auto;
 }

 .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
}

.text-muted {
    margin: 20px 0px;
}