
	<% if user_signed_in? %>
	<% else %>
	 <!-- <div class="alert alert-danger">You are not signed in. Please enter with your account to access.</div>-->
	  <!--<%= link_to 'Login', new_user_session_path %>-->
	<% end %>
